body{
  background-color: rgba(112, 14, 12, 0.88);

}
h1{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}
form {
    max-width: 530px;
    padding: 15px;
    height:330px;
    margin: 0 auto;
    background-color: #f2f2f2;
    border-radius: 0.3em;
    font-weight: bold;
    border: 5px inset black;
    text-align: center;
}
input{
  width: 50%;
  height: 30px;
}
button{
  margin-top: 20px;
  display: inline-block;
  width: 50px;
  height: 50px;
  color:red;
  font-weight: bold;
  font-size: 24px;
}
#answer{
  width: 80px;
  height:20px;
  border: 1px solid black;
  margin: auto;
}
#clear{
  width: 120px;
  height:50px;
  background-color: red;
  color: #484a4a;
  font-weight: bold;
  font-size:22px;
  border: 4px solid black;

}
